@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8">
    <title>Responsive Calendar Widget that will make your day</title>
    <meta name="distributor" content="Global" />
    <meta itemprop="contentRating" content="General" />
    <meta name="robots" content="All" />
    <meta name="revisit-after" content="7 days" />
    <meta name="description" content="The source of truly unique and awesome jquery plugins." />
    <meta name="keywords" content="slider, carousel, responsive, swipe, one to one movement, touch devices, jquery, plugin, bootstrap compatible, html5, css3" />
    <meta name="author" content="w3widgets.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- Respomsive slider -->
    @*<link href="../css/responsive-calendar.css" rel="stylesheet">*@
    <link href="~/assets/css/calendar-css/responsive-calendar.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

</head>
<body>
    <div class="container jumbotron" style="width:50%;background:#ebb3a2;opacity:0.8">
        <!-- Responsive calendar - START -->
        <div class="responsive-calendar">
            <div class="controls">
                <a class="pull-left" data-go="prev"><div class="btn btn-primary">Anterior</div></a>
                <h4><span data-head-year></span> <span data-head-month></span></h4>
                <a class="pull-right" data-go="next"><div class="btn btn-primary">Siguiente</div></a>
            </div><hr />
            <div class="day-headers">
                <div class="day header">Dom</div>
                <div class="day header">Lun</div>
                <div class="day header">Mar</div>
                <div class="day header">Mie</div>
                <div class="day header">Jue</div>
                <div class="day header">Vie</div>
                <div class="day header">Sab</div>
            </div>
            <div class="days" data-group="days">

            </div>
        </div>
        <!-- Responsive calendar - END -->
    </div>
    @*<script src="../js/jquery.js"></script>*@
    @*<script src="~/assets/js/calendar-js/jquery.js"></script>*@
    @*<script src="../js/bootstrap.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    @*<script src="../js/responsive-calendar.js"></script>*@

</body>



<!-- Modal -->
<div class="modal" tabindex="-1" id="reservaModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 style="margin:auto;" class="modal-title" id="diaReserva"> </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="form-group" style="margin:15px">

                <select style="width:auto!important" class="form-control" id="tdClase">
                    <option>Seleccione el tipo de clase</option>
                    <option value="1">Particular</option>
                    <option value="2">En Grupo</option>
                </select>
            </div>

            <div class="modal-body" style="display:none">
                <input class="timepicker">
            </div>
            <div class="modal-footer">


            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" id="mpModal" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="/procesar_pago" method="post" id="pay" name="pay">
            <fieldset>
                <div>
                    <ul style="list-style:none;">
                        <li>
                            <label style="float:left" for="email">Email</label>
                            <input style="float:right;margin-bottom:5px;" type="email" id="email" name="email" value="test_user_19653727@testuser.com" placeholder="your email" />
                        </li>

                        <li>
                            <label style="float:left" for="cardNumber">Credit card number:</label>
                            <input style="float:right;margin-bottom:5px;" type="text" id="cardNumber" data-checkout="cardNumber" placeholder="4509 9535 6623 3704" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        </li>
                        <li>
                            <label style="float:left" for="securityCode">Security code:</label>
                            <input style="float:right;margin-bottom:5px;" type="text" id="securityCode" data-checkout="securityCode" placeholder="123" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        </li>
                        <li>
                            <label style="float:left" for="cardExpirationMonth">Expiration month:</label>
                            <input style="float:right;margin-bottom:5px;" type="text" id="cardExpirationMonth" data-checkout="cardExpirationMonth" placeholder="11" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        </li>
                        <li>
                            <label style="float:left" for="cardExpirationYear">Expiration year:</label>
                            <input style="float:right;margin-bottom:5px;" type="text" id="cardExpirationYear" data-checkout="cardExpirationYear" placeholder="2025" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        </li>
                        <li>
                            <label style="float:left" for="cardholderName">Card holder name:</label>
                            <input style="float:right;margin-bottom:5px;" type="text" id="cardholderName" data-checkout="cardholderName" placeholder="APRO" />
                        </li>
                        <li>
                            <label style="float:left" for="docType">Document type:</label>
                            <select style="float:right;margin-bottom:5px;" id="docType" data-checkout="docType"></select>
                        </li>
                        <li>
                            <label style="float:left" for="docNumber">Document number:</label>
                            <input style="float:right;margin-bottom:5px;" type="text" id="docNumber" data-checkout="docNumber" placeholder="12345678" />
                        </li>
                        <li>
                            <label style="float:left" for="installments">Installments:</label>
                            <select style="float:right;margin-bottom:5px;" id="installments" class="form-control" name="installments"></select>
                        </li>
                    </ul>
                </div>
                <div style="margin-top:80%;">
                    <input type="hidden" name="amount" id="amount" />
                    <input type="hidden" name="description" />
                    <input type="hidden" name="paymentMethodId" />
                    <input type="submit" value="Pay!" />
                </div>
    </fieldset>
    </form>
</div>
</div>