@{
    ViewBag.Title = "Home Page";
}

<div id="gSignInWrapper" style="display:none">
    <span class="label">Sign in with:</span>
    <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <span class="buttonText">Google</span>
    </div>
</div>

<div class="jumbotron">
    <h1>Bienvenidos</h1>
        <p class="lead">Para reservar una clase particular primero tenes que iniciar sesion con Google</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<script src="~/Scripts/Home/index.js"></script>